

@media (max-width: 1044px) {
    .navigation__inner {
        justify-content: stretch;
    }
    
    .blocks {
        margin-bottom: 40px;
    }
}
@media (max-width: 1024px) {
    .logo {
        margin-bottom: 20px;
    }
    .burger {
        display: block;
        z-index: 1001;

    }
    .header__nav {
        transform: translateX(-500%);
        position: fixed;
        left: 0;
        top: 0;
        background-color: rgba(255,255,255, .88);
        color: #000;
        z-index: 1000;
        transition: all .2s ease;
        width: 100%;

    }
    .nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        min-height: 100vh;
        overflow-y: auto;

    }

    .options {
        flex: 100%;
        margin: 0 auto;
    }  

    .header__nav.active {
        transform: translateX(0);
    }
    .nav__item + .nav__item {
        margin-top: 50px;
    }
    .header__works {
        justify-content: space-evenly;
    }
    
}

@media (max-width: 684px) {
    .our__video {
        margin-top: 20px;
        margin-left: 0;
    }
    .blocks {
        flex-wrap: wrap;
    }
    .block1  {
        margin-bottom: 20px;
    }
} 

@media (max-width: 624px) {
    .works__info {
        font-size: 14px;
    }
    .options a + a {
        margin-left: 0;
    }
    .channel {
        max-width: 100%;
    }
    .channel__img {
        width: 100%;
        height: auto;
    }
    .rewiews__img img {
        width: 100%;
        height: auto;
    }
    .project__item {
        width: 100%;
    }
    .projects__inner {
        justify-content: center;
    }
    .item__title {
        font-size: 16px;
    }

}

@media (max-width: 384px) {

    .file__text {
        font-size: 12px;
    }
    .file__title, .review, .submit__btn, .history {
        font-size: 12px;
    }
    .footer__text {
        font-size: 14px;
    }
}


